<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <name>
        <lang name="default">Blog List</lang>
    </name>
    <author>
        <lang name="default">andreyv</lang>
    </author>
    <homepage>http://gladcode.ru</homepage>
    <version>0.1</version>
    <requires>
        <livestreet>1.0.2</livestreet>
        <alto>
            <version>0.8</version>
        </alto>
        <system>
            <php>5.4.0</php>
        </system>
        <plugins>
            <plugin name="funcpack" version="ProblemPony RC 1" condition="=">funcpack</plugin>
        </plugins>
    </requires>
    <description>
        <lang name="default">Demo Plugin</lang>
    </description>
</plugin>